@using KhoaLuan.Models;
@{
	Account ac = (Session["account"] as Account);
	ViewBag.Title = "Thay đổi mật khẩu";
	if (ac.Role == 0)
	{
		ViewBag.PageIndex = 5;
		Layout = "~/Views/Shared/AdminLayout.cshtml";
	}
	else if(ac.Role == 1)
	{
		ViewBag.PageIndex = 5;
		Layout = "~/Views/Shared/UserLayout.cshtml";
	}
	else
	{
		ViewBag.PageIndex = 1;
		Layout = "~/Views/Shared/UserLayout2.cshtml";
	}

}

<div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100"
	 style="padding-bottom: 65px;">
	<div class="container-fluid">
		<center>
			<h3 style="margin-top: 20px">Thay Đổi Mật Khẩu</h3>
		</center>
		<br>
		<div class="container card shadow" style="max-width: 450px; padding: 15px;">
			<form action="/Account/ChangePassword" method="post" onsubmit="return false">
				<div class="form-group">
					<label for="accountID">Tên đăng nhập</label>
					<input type="text" readonly name="accountID" id="accountID" class="form-control" value="@{Write(ac.AccountID);}">
				</div>
				<div class="form-group">
					<label for="oldPassword">Mật khẩu hiện tại</label>
					<input type="password" name="currentPassword" id="currentPassword" class="form-control">
					<div class="pt-2" style="color:red; font-style:italic; font-size: smaller"><span class="error-message pl-0" id="error-current-password"></span></div>
				</div>
				<div class="form-group">
					<label for="newPassword">Mật khẩu mới</label>
					<input type="password" name="newPassword" id="newPassword" class="form-control">
					<div class="pt-2" style="color:red; font-style:italic; font-size: smaller"><span class="error-message pl-0" id="error-new-password"></span></div>
				</div>
				<div class="form-group">
					<label for="newPasswordConfirm">Xác nhận mật khẩu</label>
					<input type="password" name="newPasswordConfirm" id="newPasswordConfirm" class="form-control">
					<div class="pt-2" style="color:red; font-style:italic; font-size: smaller"><span class="error-message pl-0" id="error-new-password-confirm"></span></div>
				</div>
				<button type="submit" class="btn btn-primary w-100" name="btnChangePassword" id="btnChangePassword">Thay đổi mật khẩu</button>
			</form>
		</div>
	</div>
</div>

