<!-- Modal Phan hoi xoa bai viet -->
<div class="modal fade" id="modalSendMessage" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="feedbackModalTitle">Xác nhận xóa bài viết</h5>
			</div>
			<div class="modal-body">
				<textarea id="feedback" class="form-control" cols="20" rows="2" placeholder="Gửi phản hồi đến người đăng bài"></textarea>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" id="btnCancelSendMessage"
						class="btn btn-sm btn-outline-secondary w-50" data-dismiss="modal">
					Hủy
				</button>
				<button type="button" id="btnSubmitDeletePost"
						class="btn btn-sm btn-outline-secondary w-50">
					Xác nhận xóa
				</button>
			</div>
		</div>
	</div>
</div>
