<div style="margin-top: 12%" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true" class="modal fade text-left">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<span id="exampleModalLabel" class="modal-title"
					  style="margin: auto;"><span id="contentNotification"></span></span>
				<button type="button" data-dismiss="modal" aria-label="Close"
						class="btn btn-sm btn-outline-success">
					<span aria-hidden="true">Đóng</span>
				</button>
			</div>
		</div>
	</div>
</div>
