.form-bounded label {
    background-color: #fff;
    position: absolute;
    left: 20px;
    transition-duration: .25s;
    margin: 0px;
    top: -10px;
    color: #0aab2e;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}
.form-bounded {
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-bounded .form-control {
        background: #fff !important;
        padding-left: 20px;
        padding-right: 30px;
        width: 100%;
}
.city-name {
    font-size: 18px;
}
.card {
    padding: 10px;
    /*background: #f0f4f8 !important ;*/
}
.card .card-body{
    padding-top: 10px;
    margin-left: 2%;
}


